@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: Montserrat;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-txt-container {
    max-width: 45%;
}
.header-orange-title {
    background: linear-gradient(to right top, rgba(251, 162, 79, 1), rgb(255, 83, 30));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.header-title {
    color: rgba(87, 87, 87, 1);
    font-size: 3.75rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.header-txt {
    font-size: 1.25rem;
    font-weight: 500;
    color: #828282;
    margin-bottom: 50px;
}
.header-btn {
    padding: 23px 43px;
    background: linear-gradient(to right top, rgba(251, 162, 79, 1), rgb(255, 83, 30));
    border: none;
    border-radius: 32px;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
}
.header-btn:hover {
    cursor: pointer;
    box-shadow: 0 2px 30px 0 rgba(252, 143, 73, 0.5);
}

.header-img-container {
    position: relative;
}
.box1 {
    width: 480px;
    height: 480px;
    background: rgba(252, 143, 73, 1);
    border-radius: 80px;
    transform: rotate(-105deg);
    position: absolute;
    z-index: -2;
    bottom: 8%;
    left: 28%;
}
.box2 {
    width: 480px;
    height: 480px;
    background: linear-gradient(to right, rgba(251, 162, 79, 1), rgba(255, 30, 30, 1));
    border-radius: 80px;
    transform: rotate(-120deg);
    position: absolute;
    z-index: -1;
    bottom: 8%;
    left: 28%;
}